@using Winkompass_Mobil.Code
@model ScanItemModel
@section title{
    Winkompass - Lager
}

@section siteHeader{
    <span class="truncatetitle">Quick scan (@Model.storageId)</span>
}
<div class="element left tinyBotSpace @(SessionManager.Manager.Responsive is html5 ? "text-primary" : "")" id="result">
    <b id="actionMessageLabel">Status:</b> <span id="actionMessage">Afventer scanning</span></div>
<form method="post" id="quickForm">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="scanInput">Scan stregkode</label>
        <input class="mdl-textfield__input" type="text" id="scanInput" name="item.barCode" />
    </div>
</form>

<div class="" id="Result">@Html.Action(MVC.Storage.Top5(Url.RequestContext.RouteData.Values["id"].ToString()))</div>

@section BottomScripts {
    <script type="text/javascript">

        function showMessage(message, sColor) {


            @if (SessionManager.Manager.Responsive is html5)
            {
                <text>
            document.getElementById('actionMessage').textContent = message;
            document.getElementById('result').classList.remove("text-info");
            document.getElementById('result').classList.add(sColor);
            </text>
            }
            else
            {
                <text>
            document.getElementById('actionMessage').innerText = message;
            </text>
            }
            setTimeout(function() {
                    @if (SessionManager.Manager.Responsive is html5)
                    {
                        <text>
                    document.getElementById('result').classList.remove(sColor);
                    document.getElementById('result').classList.add("text-info");
                    document.getElementById('actionMessage').textContent = "Afventer scanning";
                    </text>
                    }
                    else
                    {
                        <text>
                    document.getElementById('actionMessage').innerText = "Afventer scanning";
                    </text>
                    }
               
                },
                2000);
        }

        $("#scanInput")
            .bind("keypress",
                function(e) {
                    if (e.keyCode === 13) {
                        $("#scanInput").disabled = true;
                        var scanItemModel = { item: { barCode: document.getElementById('scanInput').value } };
                        $.ajax({
                            url:
                                '@Url.Action(MVC.Storage.QuickCount(Url.RequestContext.RouteData.Values["id"].ToString()))',
                            async: true,
                            type: 'POST',
                            dataType: 'json',
                            data: JSON.stringify(scanItemModel),
                            contentType: 'application/json; charset=utf-8',
                            success: function(data) {
                                var message = "";
                                var sColor = "text-success";
                                console.log(data);
                                if (data.Scanned !== 1) {
                                  
                                    message += data.Error;
                                    sColor = "text-danger";
                                } else {
                                    message += "Scanning registreret: " + data.Item.BarCode;

                                    updateTable();


                                }
                                showMessage(message, sColor);
                                updateTable();
                            }
                        });
                        document.getElementById('scanInput').value = "";
                        $('#scanInput').disabled = false;
                        return false;
                    }
                    return true;
                });

        function updateTable() {

            $.ajax({
                url: '@Url.Action(MVC.Storage.Top5(Url.RequestContext.RouteData.Values["id"].ToString()))',
                type: 'GET',
                dataType: 'html',
                contentType: 'text; charset=utf-8',
                cache: false,
                success: function(tableData) {

                    $('#Result').html(tableData);

                }
            });
        }

        $(window)
            .load(function() {
                $("#scanInput").focus();
            });
    </script>}