@using System.Configuration
@using DAL
@model ScanItemModel
@section title{
    Winkompass - Lager
}



@section siteHeader{
    <span class="truncate">
    Lageroptælling @(Model != null && !string.IsNullOrEmpty(Model.storageId) ? "(" + Model.storageId + ")" : "")
        </span>
}

@if (Model != null && !string.IsNullOrEmpty(Model.Error))
{
    <div id="scanResult" class="element left tinyBotSpace text-danger">
        <span>@Model.Error</span>
    </div>
}
else if (Model != null && Model.Scanned == ScanItem.SCAN_VALID)
{
    <div id="scanResult" class="element left tinyBotSpace text-success">
        <span>@Model.Message</span>
    </div>
}
else if (Model != null && Model.Scanned == ScanItem.SCAN_INVALID)
{
    <div id="scanResult" class="element left tinyBotSpace text-danger">
        <span>Scanning fejlede ved registrering!</span>
    </div>
}
<form class="scanForm" method="post">
    @Html.Partial("~/Views/Shared/NormalScan.cshtml")
</form>

@if (Model != null && !string.IsNullOrEmpty(Model.storageId))
{
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp width-100 margin-bottom-20 margin-top-60">
        <thead>
            <tr>
                <th class="col-xs-8">Produkt</th>
                <th class="col-xs-4">Antal</th>
            </tr>
        </thead>
        <tbody>
            @{
                var jc = new JournalConnector();

                var list = jc.RetrieveLastRecords(Model.storageId,10);
            }

            @foreach (var x in list)
            {
                <tr id="@x.RecordId">

                    <td class="mdl-data-table__cell--non-numeric col-xs-8 wrap-text-table">
                        <small class="verysmall no-padding">Vare nr.: @x.Item</small>
                        <br /><small>@x.Description</small>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric col-xs-4">
                        <br />
                        <div class="col-xs-12 no-padding">
                            <input disabled id="newAmount" type="number" data-originalordered="@x.Counted" data-recordid="@x.RecordId" name="item.count" value="@x.Counted" class="test mdl-textfield__input center">
                        </div>
                        @*<div class="col-xs-4 no-padding">
                            <i class="fa fa-trash-o mdl-color-text--red removeBtn " data-recordid="@x.RecordId" aria-hidden="true"></i>

                        </div>*@

                    </td>
                </tr>
            }
        </tbody>
    </table>
                }

@section BottomScripts {

}
