@model ScannedItemsModel

<div class="element left">
    <span class="tinyBotSpace">Seneste scanninger:</span><hr/>
</div>

@*<div class="element">
    <table class="lastScans smallBotSpace element">
        <tr>
            <td>#</td><td class="scanTableItem">Vare</td><td class="scanTableParams">Parametre</td><td class="scanTableCount">Antal</td>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.LineNo</td><td>@item.Item</td><td>@(!string.IsNullOrEmpty(item.Parameter1) ? item.Parameter1 : "")@(!string.IsNullOrEmpty(item.Parameter2) ? "," + item.Parameter2 : "")</td><td>@item.Counted</td>
            </tr>
        }
    </table>
</div>*@

<section class="mdl-grid" id="my-table">
<table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp width-100 margin-bottom-60">
    <thead>
    <tr>
        <th>#</th>
        <th class="mdl-data-table__cell--non-numeric">Vare</th>
        <th>Parametre</th>
        <th>Antal</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.Items)
        {
            <tr>
                <td class="mdl-data-table__cell--non-numeric">@i.LineNo</td>
                <td>@i.Item</td>
                <td>@(!string.IsNullOrEmpty(i.Parameter1) ? i.Parameter1 : "")@(!string.IsNullOrEmpty(i.Parameter2) ? "," + i.Parameter2 : "")</td>
                <td>@i.Counted</td>

               
            </tr>
        }
    </tbody>
</table>
    </section>