@model ScanItemModel
@section title{
    Winkompass - Indkøb
}

@section siteHeader{
    Foretag Indkøb @(Model != null && Model.Item != null && !string.IsNullOrEmpty(Model.Item.LineNo) ? "(" + Model.Item.LineNo + ")" : "")
}

@if (Model != null && !string.IsNullOrEmpty(Model.Error))
{
    <div id="scanResult" class="element left tinyBotSpace text-danger"><span>@Model.Error</span></div>
}
else if (Model != null && Model.Scanned == BE.ScanItem.SCAN_VALID)
{
    <div id="scanResult" class="element left tinyBotSpace text-success"><span>@Model.Item.Count vare(r) med varenummer @Model.Item.BarCode blev registreret!</span></div>
}
else if (Model != null && Model.Scanned == BE.ScanItem.SCAN_INVALID)
{
    <div id="scanResult" class="element left tinyBotSpace text-danger"><span>Scanning fejlede ved registrering!</span></div>
}
<form class="scanForm" method="post">
    @Html.Action(MVC.Shared.ScanWithTarget(Model))

</form>
@section BottomScripts {
   @Html.Partial("~/Views/Shared/NormalScanJS.cshtml")
}
