@using Microsoft.Ajax.Utilities
@model ScanItemModel

<input type="hidden" name="item.LineNo" value="@(Model != null && Model.Item != null && !string.IsNullOrEmpty(Model.Item.LineNo) ? Model.Item.LineNo : "")"/>
@if (Model != null && Model.Item != null && !string.IsNullOrEmpty(Model.Item.Target))
{
    @:<input type="hidden" name="item.target" value="@Model.Item.Target"/>
}

<div class="left element mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input id="TargetInput" class="mdl-textfield__input" type="text" name="item.target" value="@(Model != null && Model.Item != null && !string.IsNullOrEmpty(Model.Item.LineNo) ? Model.Item.LineNo : "")">
    <label class="mdl-textfield__label" for="TargetInput">Kunde- el. leverandørnummer.</label>

</div>


<div class="left element mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input id="ScanInput" class="mdl-textfield__input" type="text" name="item.barcode">
    <label class="mdl-textfield__label" for="ScanInput">Varenummer</label>
</div>

<div class="left element mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input id="itemCount" class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" name="item.count">
    <label class="mdl-textfield__label" for="itemCount">Antal</label>
</div>

<input id="okButton" class="center-block col-xs-6 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent tinyBotSpace" name="Action" type="submit" value="@ScanItemModel.ContinueScanning">

<input id="cancelButton" class="center-block col-xs-5 pull-right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent tinyBotSpace" name="Action" type="submit" value="@ScanItemModel.ScanAndStop">


<script>


    function setFocusToTargetInput() {
        document.getElementById("TargetInput").focus();
    }

    function setFocusToScanInput() {
        document.getElementById("ScanInput").focus();
    }


    function valueCheck() {
        if ($('#TargetInput').val().length > 0) {
            $('#TargetInput').attr('disabled', true);
            setFocusToScanInput();
            $(document)
                .ready(function() {
                    $('#okButton').attr('disabled', true);
                    $('#cancelButton').attr('disabled', true);
                    $('#ScanInput' && '#itemCount')
                        .keyup(function() {
                            if ($(this).val().length !== 0) {
                                $('#okButton').attr('disabled', false);
                                $('#cancelButton').attr('disabled', false);
                            } else {
                                $('#okButton').attr('disabled', true);
                                $('#cancelButton').attr('disabled', true);
                            }

                        });
                });
        } else {
            setFocusToTargetInput();
            $(document)
                .ready(function() {
                    $('#okButton').attr('disabled', true);
                    $('#cancelButton').attr('disabled', true);
                    $('#TargetInput' && '#ScanInput' && '#itemCount')
                        .keyup(function() {
                            if ($(this).val().length !== 0) {
                                $('#okButton').attr('disabled', false);
                                $('#cancelButton').attr('disabled', false);
                            } else {
                                $('#okButton').attr('disabled', true);
                                $('#cancelButton').attr('disabled', true);
                            }
                        });
                });
        }
    }

    valueCheck();
</script>

<script>
    $("#ScanInput")
        .keydown(function(e) {
            if (e.which === 13) {
                $('#itemCount').focus();
            }
        });
</script>