@using BLL
@using DAL
@model ScanItemModel
@section title{
    Winkompass - Ordrer
}

@section siteHeader{
    Opret ordre @(Model != null && Model.Item != null && !string.IsNullOrEmpty(Model.Item.LineNo) ? "(" + Model.Item.LineNo + ")" : "")

}



@if (Model != null && !string.IsNullOrEmpty(Model.Error))
{
    <div id="scanResult" class="element left tinyBotSpace text-danger">
        <span>@Model.Error</span></div>
}
else if (Model != null && Model.Scanned == ScanItem.SCAN_VALID)
{
    <div id="scanResult" class="element left tinyBotSpace text-success">
        <span>@Model.Item.Count vare(r) med varenummer @Model.Item.BarCode blev registreret!</span></div>
}
else if (Model != null && Model.Scanned == ScanItem.SCAN_INVALID)
{
    <div id="scanResult" class="element left tinyBotSpace text-danger">
        <span>Scanning fejlede ved registrering!</span></div>
}
<form class="scanForm" method="post">
    @Html.Action(MVC.Shared.ScanWithTarget(Model))
</form>
@if(Model != null && Model.Item != null && !string.IsNullOrEmpty(Model.Item.LineNo)) { 
<table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp width-100 margin-bottom-20 margin-top-60">
    <thead>
    <tr>
        @*<th hidden class="col-xs-2">#</th>*@
        <th class="col-xs-8">Produkt</th>
        <th class="col-xs-4">Antal</th>
    </tr>
    </thead>
    <tbody>
    @{
        var oc = new OrderConnector();

        var list = oc.selectAllOrderLines(Model.Item.LineNo).Reverse();
    }

    @foreach (var x in list)
    {
        <tr id="@x.RecordId">
            @*<td hidden class="mdl-data-table__cell--non-numeric col-xs-3 wrap-text-table"><small>@x.Item</small></td>*@
            <td class="mdl-data-table__cell--non-numeric col-xs-8 wrap-text-table">
                <small class="verysmall no-padding">Vare nr.: @x.Item</small><br/><small>@x.Description</small>
            </td>
            <td class="mdl-data-table__cell--non-numeric col-xs-8">
                <br/>
                <div class="col-xs-8 no-padding">
                    <input id="orderLineOrdered" placeholder="@x.Ordered"type="number" name="item.count" class="mdl-textfield__input center">
                </div>
                <div class="col-xs-4">
                    <i class="fa fa-trash-o mdl-color-text--red removeBtn " data-recordid="@x.RecordId" aria-hidden="true"></i>
                    <p hidden id="recordIdVal">@x.RecordId</p>
                </div>

            </td>
        </tr>
    }

    @{
        var order = oc.selectOrder(Model.Item.LineNo).FirstOrDefault();
    }


    <tr>
        <td>
            Total ex moms<br/>
            moms<br/>
            Total inkl. moms
        </td>

        <td class="text-right">
            <br/><strong>
                @order.AmountBase,-<br/>
                @order.TaxAmountBase,-<br/>
                @order.TotalBase,-</strong><br/>
            <small>
                @order.Currency
        
            </small>
        </td>
    </tr>

    </tbody>
</table>
}
@section BottomScripts {
    @Html.Partial("~/Views/Shared/NormalScanJS.cshtml")
}


<script>
    $(".removeBtn")
        .click(function() {
          
            var orderLineId = $(this).data("recordid");
            var orderId = @Model.Item.LineNo;


            $.ajax({
                type: "POST",
                url: '/Order/DeleteOrderLine?orderLineId=' + orderLineId + '&orderId=' + orderId,

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(msg) {
                    $('#'+orderLineId).remove();
                },
                error: function(e) {
                    $('#'+orderLineId).remove();
                }
            });
        });
</script>


<script>
    $(document)
        .ready(function() {
            $('#ss').attr('disabled', true);

            $('#JournalInput' && '#itemCount')
                .keyup(function() {
                    if ($(this).val().length !== 0) {
                        $('#ss').attr('disabled', false);
                    } else {
                        $('#ss').attr('disabled', true);
                    }
                });
        });
</script>