@model OrderListModel
@section title{
    Winkompass - Ordrer
}

@section siteHeader{
    Ordre liste
}

<div class="less-padding">
    <a href="@Url.Action(MVC.Order.CreateOrder())" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent center-block">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Opret ny ordre
    </a>
</div>

<ul class="mdl-list left">

    @foreach (var order in Model.Orders.Take(10))
    {
        <li class="mdl-list__item col-xs-12">

            <span class="mdl-list__item-primary-content col-xs-6 no-padding">
                <span class="truncate">
                    @order.OrderCustomerName<br/>
                    <small>@order.OrderNo - @order.OrderCustomer</small>
                </span>
            </span>
            
            
            <div class="col-xs-1 no-padding">
                <a class="mdl-list__item-secondary-action col-xs-12 no-padding" href="@Url.Action(MVC.Order.OrderGet(order.OrderCustomer, order.OrderNo))">
                    <span class="mdl-list__item-primary-action pull-right mdl-button mdl-js-button mdl-js-ripple-effect">
                        <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                    </span>
                </a>
                </div>

</li>
    }

</ul >