@model OrderListModel
@section title{
    Winkompass - Ordrer
}

@section siteHeader{
    Ordre liste
}


<div id="loadBar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate under-nav-and-full-width" style="visibility: hidden"></div>

<form class="Search">
    <input class="Search-box" type="search" id="edit_search" placeholder="Søg" autocomplete="off" onkeyup="javascript: find_my_div();">
    <label class="Search-label" for="edit_search" id="search_label">
        <i class="fa fa-search"></i>
    </label>
</form>

<div class="margin-top">

    <button onclick="showstuff()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fab-button" id="show-dialog">
        <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
    </button>


    <section class="mdl-grid" id="my-table">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp width-100 margin-bottom-60">
            <thead>
            <tr>
                <th class="col-xs-5">Kunde Navn</th>
                <th class="col-xs-3">Ordre Nr</th>
                <th class="col-xs-4"  style="text-align: center !important;">Tilføj</th>

            </tr>
            </thead>
            <tbody>
            @foreach (var i in Model.Orders)
            {
                <tr id="@("line_" + Model.Orders.IndexOf(i))">
                    <td class="mdl-data-table__cell--non-numeric col-xs-5">@i.OrderCustomerName<br/>
                        <small><i class="fa fa-hashtag" aria-hidden="true"></i> @if (!string.IsNullOrEmpty(@i.OrderCustomer)){@i.OrderCustomer }else{<small> -</small>}
                        <br/> <i class="fa fa-map-marker" aria-hidden="true"></i>  @if (!string.IsNullOrEmpty(@i.Address1)){@i.Address1 }else{<small> -</small>}
                        <br/><i class="fa fa-envelope" aria-hidden="true"></i> @if (!string.IsNullOrEmpty(@i.EMail)){@i.EMail }else{<small> -</small>}
                        </small>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric col-xs-3"><small>@i.OrderNo</small></td>
                    <td onclick="showstuff()" class="mdl-data-table__cell--non-numeric col-xs-4">
                        <a class="mdl-button button-fontsize-12 mdl-js-button mdl-button--raised mdl-button--primary" href="@Url.Action(MVC.Order.OrderGet(i.OrderCustomer, i.OrderNo))">+ Tilføj</a>
                    </td>


                </tr>
            }
            </tbody>
        </table>
    </section>


    <script>

        var dialog = document.querySelector('dialog');
        var showDialogButton = document.querySelector('#show-dialog');
        showDialogButton.addEventListener('click',
            function() {
                window.location = "/Order/CreateOrder";
            });

    </script>


    <script>

        setFocusToTextBox();

        function setFocusToTextBox() {
            document.getElementById("edit_search").focus();
        }

        function gid(a_id) {
            return document.getElementById(a_id);
        }

        function close_all() { // hide all divs

            for (i = 0; i < @Model.Orders.Count; i++) {
                var o = gid("line_" + i);
                if (o) { //just to make sure this object really exists
                    o.style.display = "none";
                }
            }

        }

        function open_all() { // show all divs

            for (i = 0; i < @Model.Orders.Count; i++) {
                var o = gid("line_" + i);
                if (o) { //just to make sure this object really exists
                    o.style.display = "table-row";
                }
            }

        }


        function find_my_div() { // find and show
            close_all(); // close previous search results

            var o_edit = gid("edit_search");
            var str_needle = edit_search.value;
            str_needle = str_needle.toUpperCase();

            if (str_needle != "") { // we will not search for empty strings
                for (i = 0; i < @Model.Orders.Count; i++) {
                    var o = gid("line_" + i);
                    if (o) { //just to make sure this object really exists
                        // we want case insensitive search, so bring the both parts to upper case and compare
                        var str_haystack = o.innerHTML.toUpperCase();
                        if (str_haystack.indexOf(str_needle) == -1) {
                            // not found, do nothing
                        } else {
                            // yes, we got it, show it
                            o.style.display = "table-row";
                        }
                    }
                }
            } else {
                open_all();
            }


        }


    </script>
    <script>
        function showstuff() {
            document.getElementById("loadBar").style.visibility = "visible";
        }

        function hidestuff() {
            document.getElementById("loadBar").style.visibility = "hidden";
        }
    </script>

    <script>
        $("#edit_search")
            .keydown(function(e) {
                if (e.which === 13) {
                    $('#edit_search').blur();
                }

            });

        $('#search_label')
            .click(function(e) {
                e.preventDefault();
            });
    </script>
</div>